<h2 class="mt-3">Here are our restaurants:</h2>
<p class="text-info"><%= link_to "â• Add new restaurant", new_restaurant_path %></p>
<ul class="list-group w-25">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>